/* 전체 대화 내용을 감싸는 frame */
.chat-frame {
  border: 2px solid black; /* 검은색 테두리 */
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 컨텐츠 시작 부분에 정렬 */
  min-height: 100vh; /* 화면을 꽉 채우도록 설정 */
  position: relative; /* 상단에 고정되는 요소 처리 */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; /* 일반 flow로 동작하게 */
}

.bot-info {
  display: flex;
  align-items: center;
}

.bot-header-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.bot-header-name {
  font-size: 32px;
  font-weight: bold;
}

/* 둥근 사각형 테두리로 감싼 기본 메시지 */
.basic-message {
  text-align: center;
  color: gray;
  font-size: 14px;
  padding: 12px 80px;
  border: 1px solid gray; /* 회색 테두리 */
  border-radius: 50px; /* 둥근 사각형 */
  margin: 5px auto; /* 중앙 정렬 및 간격 줄이기 */
  margin-bottom: 10px;
  max-width: 80%; /* 텍스트 너비에 맞춰 크기 조정 */
}

/* 날짜 */
.date {
  text-align: center;
  font-size: 14px;
  color: gray;
  padding: 12px 25px; /* 좌우 공백 넓히기 */
  border: 1px solid gray;
  border-radius: 50px; /* 둥근 사각형 */
  margin-top: 5px ; /* 위쪽 간격 줄이기 */
  margin-left: auto;
  margin-right: auto; /* 중앙 정렬을 위한 auto 설정 */
  max-width: fit-content; /* 텍스트 길이에 맞춰 크기 조정 */
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.user-message-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 5px 0;
}

.user-message-header {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 우측 정렬 */
  margin-bottom: 5px;
}

.user-icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.user-name {
  font-size: 14px;
  color: gray;
}

.user-message {
  align-self: flex-end;
  background-color: #0084ff;
  color: white;
  padding: 10px;
  border-radius: 15px;
  max-width: 80%; /* 최대 너비를 80%로 설정 */
  text-align: left;
}

.gpt-message-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 5px 0;
}

.gpt-message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.bot-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.bot-name {
  font-size: 14px;
  color: gray;
}

.gpt-message {
  background-color: #e5e5ea;
  color: black;
  padding: 10px;
  border-radius: 15px;
  max-width: 60%;
  text-align: left;
}

.transcription-message {
  background-color: #4faaff;
  color: white;
}

.chat-summary-message {
  color: #ff0000;
  font-weight: 580;
}